@import "tailwindcss";

body{
  font-family: "DM Sans", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

.activeMenu{
  background-color: rgba(0, 0, 0, 0.8);
}
.activeMenu ul{
  @apply bg-white py-8 gap-5
}
.hero::before{
  position: absolute;
  content: '';
  top: 0;
  height: 6px;
  width: 150px;
  background: linear-gradient(to right, #f7bd93 0%, #f7bd93 20%, rgb(118, 0, 252) 80%, rgb(118, 0, 252) 100%);
}
.story{
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 80%, transparent 100%);
}